# Environment
.env

# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Composer
/vendor/
composer.lock

# Logs
/logs/*.log
*.log

# Uploads
/public/uploads/*
!/public/uploads/.gitkeep

# Cache
/cache/*
!/cache/.gitkeep

# Temporary
*.tmp
*.temp
*.cache
